* {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    background-color:aquamarine

}

.header {
background-color: brown;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 15px;

}

.footer {


display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 15px;


}

.logo {


height: 200px;



}

.mamaco {

width: 300px;




}